
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roborot Mono", monospace;
    background: #56CCF2; 
    background: linear-gradient(to right, #2F80ED, #56CCF2); 
    display: grid;
    place-content: center;   
    min-height: 100vh;
    color: rgb(0 0 0 / 0.7);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: rgb(255 255 255 / 0.6);
    border-radius: 20px;
    box-shadow: 8px 8px 0px rgb(0 0 0 / 0.3);
    padding: 50px;
}


.input-city {
    background-color: rgb(255 255 255 / 0.4);
    border-radius: 5px;
    border: 0;
    outline: 0;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    transition: 0.3s;
}

.input-city:hover {
    background-color: rgb(255 255 255 / 0.6);
}

.weather-card {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: center;
}

.weather-card h1 span {
    font-weight: 100;
}


@media (max-width: 700px) {
    .container {
        display: grid;
        padding: 20px;
    }

    .weather-card {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}